/* @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
/* @import url(https://db.onlinewebfonts.com/c/c4d8819fda4c3fd79e36cedcc8d422bb?family=Halyard+Display); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

.wbg-green{
  color: #6BAAB7 ;
}
.dot{
  color: red;
  width: 8px;
}
.wbg-green-dark{
  background-color: #ABD2D3;
}
.wbg-dark-green{
  background-color: #5CA2B0 !important;
  
}
.wbg-txt-green{
  color: #5CA2B0 !important;
  
}
.green{
  background-color: #D5F0F0;
}
.wbg-yellow{
  background-color: #CAB575; 
}

.wbg-light-yellow{
  background-color:  #D3C18B;  
}


.azureish-white{
  background:#E1F0F0 !important;
}
.light-gray{
  background-color: #EFF1F3;
}

.btn-color-home{
  color: #6BAAB7 ;
  background-color: white;
  border: none; 
  
}
/* propertiesoverview btn-hover */
.btn-color{
  color:white;
  background-color: #6BAAB7;
  border-color:  #6BAAB7;
 border: none; 
}

.btn-color:hover{
  color: white;
  background-color: black;
  
}
/* AboutEkaya btn-hover */
.btn-colors{
  color:white;
  background-color: black;
  border-color: #B3E5D3;
}

.btn-colors:hover{
  color: black;
  background-color: white;
  
}
.btns-colors{
  color:black;
  background-color: white;
  border-color: #B3E5D3;  
}

.btns-colors:hover{
  color:#FFFFFF;
  background-color: black;  
}

.color-footer{
  text-decoration: none;
  color:black ;
  border-color: #6BAAB7 !important; 
}

.color-footer:hover{
  color: white;
  background-color:#6BAAB7 ; 
}

.border-bottom-lite {
  border-bottom:1px solid rgb(142, 140, 140) !important;
}
/* MODREN CONTENT MIDDLEMEDIA QUERY WANT TO WRITE */
 .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
/* Embrace page content middel */
.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -150px;
}


/* triangel right */
#triangle-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid #E1F0F0;
  border-bottom: 15px solid transparent;
  position: absolute; 
  top: 50%;
  left: 0;
}

#triangle-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #E1F0F0;
  border-bottom: 15px solid transparent;
  position: absolute; 
  top: 50%;
  right: 0;
}

.custom-input {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  
}

