@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, body {
    font-family: "Arvo", serif;
    font-weight: 400;
   
    font-style: normal;
  }

.wbg-green{
  color: #6BAAB7 !important;
}
.wbg-light{
background-color: rgb(247, 245, 245);
}
/* propertiesoverview btn-hover */
.btn-color{
  color:white;
  background-color: #6BAAB7;
  border-color:  #6BAAB7;
 border: none; 
}

.btn-color:hover{
  color: white;
  background-color: black;
  
}
/* AboutEkaya btn-hover */
.btn-colors{
  color:white;
  background-color: black;
  border-color: #B3E5D3;
}

.btn-colors:hover{
  color: black;
  background-color: white;
  
}
.btns-colors{
  color:black;
  background-color: white;
  border-color: #B3E5D3;

  
}

.btns-colors:hover{
  color:#FFFFFF;
  background-color: black;
  
  
}

.color-footer{
  text-decoration: none;
  color:black ;
  
  
}
.color-footer:hover{
  color: white;
  background-color:#6BAAB7 ; 
}

.border-bottom-lite {
  border-bottom:1px solid rgb(142, 140, 140) !important;
}
/* MODREN CONTENT MIDDLEMEDIA QUERY WANT TO WRITE */
 .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


/* bhavan css */
.talkbubble {
  /* width: 120px; */
  /* height: 80px; */
  background:#ABD2D3;
  position: relative;

  padding: 10px; 
}

.talkbubble:before {
  content: "";
  position: absolute;
  left: 100%; /* Changed from right: 100% */
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 26px solid #ABD2D3; /* Changed from border-right */
  border-bottom: 13px solid transparent;
  
}
.border-bottom-green {
  border-bottom:1px solid #5CA2B0 !important;
}
.border-bottom-white {
  border-bottom:1px solid #ece8e8!important;
}
.right-arrow{
  color: #5CA2B0 !important;
  cursor: pointer;
}
.left-arrow{
  color: #d1cfcf;
  cursor: pointer;
}
.amora-fluid{
  margin-right: 200px !important;
}