@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, body {
    font-family: "Arvo", serif;
    font-weight: 400;
   
    font-style: normal;
  }

.wbg-green{
  color: #6BAAB7 ;
}
.btn-color-home{
  color: #6BAAB7 ;
  background-color: white;
  border: none; 
  
}
/* propertiesoverview btn-hover */
.btn-color{
  color:white;
  background-color: #6BAAB7;
  border-color:  #6BAAB7;
 border: none; 
}

.btn-color:hover{
  color: white;
  background-color: black;
  
}
/* AboutEkaya btn-hover */
.btn-colors{
  color:white;
  background-color: black;
  border-color: #B3E5D3;
}

.btn-colors:hover{
  color: black;
  background-color: white;
  
}
.btns-colors{
  color:black;
  background-color: white;
  border-color: #B3E5D3;

  
}

.btns-colors:hover{
  color:#FFFFFF;
  background-color: black;
  
  
}

.color-footer{
  text-decoration: none;
  color:black ;
  border-color: #6BAAB7 !important; 
}

.color-footer:hover{
  color: white;
  background-color:#6BAAB7 ; 
  /* border:#6BAAB7 ;  */
}

.border-bottom-lite {
  border-bottom:1px solid rgb(142, 140, 140) !important;
}
/* MODREN CONTENT MIDDLEMEDIA QUERY WANT TO WRITE */
 .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
/* MOIRA PAGE BG-COLOR */
.talkbubble {
 
  background: red;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
}